include README.md
include LICENSE
include CONTRIBUTING.md
include pyproject.toml

recursive-include fastworker *.py
recursive-include docs *.md
recursive-include fastworker/examples *.py

# Exclude unnecessary files
global-exclude *.pyc
global-exclude __pycache__/*
